---
import Layout from "../layouts/Layout.astro"
---

<Layout title='Blog' description="Página de tienda de instrumentos musicales, guitarras, cursos, blogs y mas">
  <main class="contenedor">
		<h1 class="heading">Blog</h1>
	</main>
</Layout>

<style>
 
</style>
